.header {
  background-color: #f7f7f7;
}
.header-bar {
  padding: 6px 0;
  text-align: left;
}
.content {
  margin-top: 18px;
}
.footer {
  background-color: #fafafa;
}

.main-header {
}
.main-content {
}
.main-timerClock {
  position: relative;
  text-align: center;
}
.main-timerClock-abort {
  position: absolute;
  right: 50px;
}
.main-timerClock-container {
  position: relative;
  display: inline-block;
}
.main-timerClock-mask {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  border-radius: 50%;
  background-color: rgba(153, 153, 153, 0.25);
  cursor: pointer;
}
.main-timerClock-maskText {
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  color: #2894ff;
  font-size: 300%;
}
.main-footer {
  position: fixed;
  left: 0; bottom: 0;
  width: 100%;
}

.login {
  text-align: center;
}
.login-header {
}
.login-form {
  display: inline-block;
  text-align: left;
  max-width: 320px;
}
.login-form-forgot {
  float: right;
}