.header {
  background-color: #f7f7f7;
}
.header-bar {
  padding: 6px 0;
  text-align: left;
}
.content {
  margin-top: 18px;
}
.footer {
  background-color: #fafafa;
}

.main-header {
}
.main-content {
}
.main-timerClock {
  position: relative;
  text-align: center;
}
.main-timerClock-abort {
  position: absolute;
  right: 50px;
}
.main-footer {
  position: fixed;
  left: 0; bottom: 0;
  width: 100%;
}

.login {
  text-align: center;
}
.login-header {
}
.login-form {
  display: inline-block;
  text-align: left;
  max-width: 320px;
}
.login-form-forgot {
  float: right;
}